############################
# MySQL
############################

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

############################
# Backend Database
############################

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

############################
# Node Environment
############################

NODE_ENV=
PORT=

############################
# Frontend
############################

VITE_API_URL=
