global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

frontend mysql
    bind *:3306
    default_backend mysql_primary

listen stats
    bind *:8404
    mode http

    stats enable
    stats uri /stats
    stats refresh 10s

    http-request use-service prometheus-exporter if { path /metrics }

backend mysql_primary
    option tcp-check

    server primary mysql-replica:3306         check inter 2s fall 2 rise 2         resolvers docker init-addr libc,none

    server replica mysql-primary:3306         check backup         resolvers docker init-addr libc,none
